html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  margin: 0;
  
}

header{
  padding: 10px;
  text-align: center;
  color: white;
  background-color: #1867c0;
}

main{
  background-color: #ccf5ff;
  padding: 10px;
  margin: 20px;
  width: 70%;
  border: 3px solid #8CC0DE;
}

footer{
  background-color: #1867c0;
  color: white;
  padding: 5px;
}